* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

li{
    border-bottom: 1px solid #e1e1e1;
    padding: 0.2em;
    margin-left: 10px;
}
button.none, button.none:hover{
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
}
div.wrapper{
    height: 50vh;
    overflow: scroll;
    border-top: 3px solid black;
}

a{
    top: 10px;
    font-size: 0.8rem;

}
